.app-bg {
  background-image: url('./images/sky.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-family: 'Muli', sans-serif;
}

/* .nav-wrapper {
  position: fixed;
  width: 100%;
} */

.nav-style {
  background-color: transparent;
}

.nav-style:hover {
  background-color: rgb(22, 22, 22);
  color: black;
  opacity: 0.8;
}

.nav-style-nothome {
  background-color: black;
}

.nav-style-nothome:hover {
  background-color: rgb(22, 22, 22);
  color: black;
  opacity: 0.8;
}


.nav-icon {
  width: 20px;
}

.collapse-style:hover {
  background-color: rgb(22, 22, 22);
}

.home-container {
  display: flex;
  height: 80%;
  align-items: center;
  justify-content: center;
}

.home-style {
  width: 60%;
  font-size: 60px;
  opacity: 0.8;
}

.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.page-style {
  opacity: 0.9;
}

.page-title {
  width: 100%;
  background-color: black;
  padding: 5px;
}

.project-img {
  opacity: 0.7;
  width: 97%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-img:hover {
  opacity: 1;
}

.contact-link {
  color: black;
}

.contact-text {
  font-size: larger;
}

.tech-icon {
  width: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul {
  list-style: none;
}
